.footer-all {
  width: 1520px;
  height: 60px;
  margin-top: 4070px;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: #bc4749;
  box-shadow: 0 -4px 5px #bc4749, inset 0 4px 5px #bc4749, inset 0 -3px 8px #fff;
  z-index: 2;
}

.footer-all .footer-div-1 {
  width: 40%;
}
.footer-all .footer-div-1 h2 {
  padding-left: 10px;
  font-size: 1.3rem;
  text-align: center;
  color: #386641;
  text-shadow: 0 0 3px #fff;
}
.footer-all .footer-div-2 {
  width: 30%;
}
.footer-all .footer-div-2 .links a {
  padding-left: 30px;
  text-decoration: none;
  color: #a7c957;
  text-shadow: 0 0 2px #386641;
  width: 30%;
  font-size: 1.1rem;
}
.footer-all .footer-div-3 {
  text-align: end;
  width: 30%;
}

.footer-all .footer-div-3 p {
  padding-right: 15px;
  color: white;
  text-shadow: 0 0 2px #386641;
}
